/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 26px;
}

.label{
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 26px;
	-fx-pref-height: 75px;
	-fx-pref-width: 180px;
	-fx-min-width: -fx-pref-width;
	-fx-min-height: -fx-pref-height;
	-fx-max-width: -fx-pref-width;
	-fx-max-height: -fx-pref-height;
	-fx-alignment: center;
}

.contact {
	-fx-background-color: white;
	-fx-border-width: 2;
	-fx-border-color: black;
	-fx-pref-height: 75px;
	-fx-pref-width: 180px;
	-fx-min-width: -fx-pref-width;
	-fx-min-height: -fx-pref-height;
	-fx-max-width: -fx-pref-width;
	-fx-max-height: -fx-pref-height;
}

.contact.newMessage {
	-fx-background-color: yellow;
}
#textToSend {
 	-fx-wrap-text: true;
 }
.message {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 26px;
	-fx-pref-width: 500px;
	-fx-min-width: -fx-pref-width;
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-wrap-text: true;
	-fx-border-color: black;
	-fx-alignment: right;
	-fx-border-width: 3;
	-fx-border-radius: 15;
	-fx-background-radius: 20;
	
	
	
}

.message.received {
	-fx-background-color: rgb(255, 255, 255);
	-fx-alignment: baseline-left;
}

.message.sent {

	-fx-background-color: rgb(75, 159, 255);
	-fx-alignment: baseline-right;
}
.message .content {
	
}
.hbox {
}

.hbox.received {
	-fx-alignment: center_left;

}

.hbox.sent{
	-fx-alignment: center_right;
}

.connection {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 26px;
}

.radio-button {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 16px;
}


.choice-box .label{
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20px;
	-fx-min-height: 26px;
	-fx-pref-height: 26px;
	-fx-max-height: 26px;
}
